#result_format{
position:absolute;
top:190px;
left:510px;
width:100%;
}
#loc_moreinf{
position:absolute;
top:300px;
left:510px;
width:100%;
}
#loc_submit
{
position:absolute;
top:400px;
left:1300px;
width:100%;
}

#loc_reload
{
position:absolute;
top:190px;
left:1300px;
width:100%;
}